@value colors: "../variables.css";
@value customGreen, customYellow, customOrange, customRose from colors;

.line {
    display: flex;
    flex-direction: row;
    background-color: customRose;
}

.line_editable {
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 250, 184);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    gap: 15px;

}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn {
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.5);
}