@value colors: "../variables.css";
@value customGreen, customYellow, customOrange from colors;

header {
    background-color: customGreen;
    padding: 20px 30px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center
}


@value colors: "../variables.css";
@value customYellow, customOrange from colors;

.btn_learning {
    width: 270px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    cursor: pointer;

    background-color: customOrange;
    color: white;

}

.btn_learning:hover {
    box-shadow: 0 0 10px rgba(255, 30, 30, 0.5);
}

.btn_wordslist {
    width: 270px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    cursor: pointer;

    background-color: customYellow;
}

.btn_wordslist:hover {
    box-shadow: 0 0 10px rgba(197, 148, 14, 0.5);
}

.a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}