@value colors: "../variables.css";
@value customGreen, customYellow, customOrange, customRose from colors;


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: customRose;
}

.card_russian {
    color: customOrange;
    font-size: 48px;
}