@value colors: "../variables.css";
@value customGreen, customYellow, customOrange, customRose from colors;


.card_button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 7px 5px 9px 0px rgb(168, 114, 144);
    padding-block: 0px;
    padding-inline: 0px;

}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow_button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    margin: 50px;

}

.arrow_button:hover {
    background-color: customRose;
}

.arrow_button:active {
    background-color: customYellow;
}

.show_translateButton {
    border: 0;
    cursor: pointer;
    background-color: customRose;
    margin: 40px;
    padding: 10px;
}